.dashboard-section{

    // background-color: coral;
    border: 1px solid black;
    border-radius: 5px;
    

    &__link{
        display: block;
        margin: 5px;
        color: darkblue;

        &:link,
        &:visited{
            font-size: 1.3rem;
            font-family: "Roboto", sans-serif;
            text-decoration: none;
        }

        &:hover{
            font-weight: 500;
        }

    }

    &__body{
        margin: 1rem;
    }

    &__menu{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}