.app-table-editable {

    table-layout:fixed;
    width:100%;
    border-collapse: collapse;

    &__header{
        border: 1px solid #000000;
        padding: 8px;
        padding: 5px 1rem;

        text-align: left;
        font-size: 1.3rem;
        letter-spacing: 0.5px;
        font-family: "Lato", sans-serif;
        background-color:#c6c6c6;
    }

    &__header-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &:hover{
            cursor: pointer;
        }
    }

    &__data{
        padding: 5px 1rem;
        font-size: 1.2rem;
        font-family: "Lato", sans-serif;
        border: 1px solid #333333;
    }

    &__icon {
        height: 2rem;
    }

}

.app-table-input {
    width: 100%;
    padding: 5px;
    
    // border: 1px solid #cccccc;
    border: none;
    // border-radius: 5px;
    transition: all 0.3s;

    &--visible {
        border: 1px solid #cccccc;
    }
    
    &:focus{
        outline: none;
        box-shadow: 0 0 5px rgba(10, 10, 10, 1);
        border: 1px solid rgba(10, 10, 10, 1);
      }
}

.app-table-select {
    width: 100%;
    padding: 5px;
    
    // border: 1px solid #cccccc;
    border: none;
    // border-radius: 5px;
    transition: all 0.3s;

    &--visible{
        border: 1px solid #cccccc;
    }

    // &:focus{
    //     outline: none;
    //     box-shadow: 0 0 5px rgba(10, 10, 10, 1);
    //     border: 1px solid rgba(10, 10, 10, 1);
    //   }
}

.app-table-control{
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-table-btn {
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;

    margin: 2px 2px;


    background: transparent;
    padding: 5px 5px;
    border-radius: 3px;
    border: 1px solid rgb(51, 51, 51);;
    // background-color: #c6c6c6;
    background-color: rgba(245, 245, 245, 0.95);

    &--primary{
        color: white;
        background-color: rgba(0, 47, 102, 0.95);

    }

    &--danger{
        color: white;
        background-color: rgba(168, 1, 1, 0.95);
    }

    transition: all 0.2s;

    &:focus, &:active {
        outline: none;
    }

    &:hover {
        color:#fff;
        background-color: rgb(51, 51, 51);
        border-color: rgb(51, 51, 51);
        cursor:pointer;
    }

    &:active{
        outline: none;
        animation: blink 1s;
    }
}