.nav{

    background-color: #ff6624;
    display: flex;
    align-items: center;

    &__brand{
        margin: 1rem 2rem;
        font-size: 2.2rem;
        color: white;
    }

    &__menu{
        margin: 0 2rem;
        flex: 1;
    }

    &__profile{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
}

.submenu {
    height: 2.5rem;
    padding-left: 13rem;
    background-color: black;
    display: flex;
    align-items: center;
}

.profile-text {
    margin-right: 2rem;
    font-size: 1.3rem;
}