h1 {
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 5px 0;
}

h2 {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    margin: 5px 0;
}

h3 {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 150;
    margin: 1rem;
}